<template>
  <div class="col s12 m3" @click="onGameSelected">
    <div class="card game-card">
      <div class="card-image game-image">
        <img :src="game.imageUrl">
        <span class="card-title game-title">{{ game.name }}</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { IGame } from '@/store/state';

export default Vue.extend({
  name: 'card',
  props: {
    game: {},
  },
  methods: {
    onGameSelected(){
      this.$emit('game-selected', this.game as IGame);
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.game-card {
    cursor: pointer;
    height:15vw;
    width:100%;
    overflow: hidden;
    &:hover {
      span {
        height:100%;
        visibility: visible;
      }
    }
}

.game-image {
  height:100%;
  img {
    height:100%;
  }
}

.game-title {
  width:100%;
  height:0;
  visibility: hidden;
  text-align: left;
  background: rgba(0,0,0,0.7);
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-size: 60px;
  line-height: 200px;
}
</style>
