<template>
<div class="leaderboard-wrapper col s12 m3">
    <div class="leaderboard-image"><img :src="game.imageUrl"></div>
    <div class="leaderboard-overlay">
    <h3>{{game.name}}</h3>
        <ul class="collection">
            <li v-for="(highscore, index) in highscores" :key="highscore.score + '_' + highscore.playerName" class="collection-item leaderboard-item">
                <div class="player-name flow-text">{{highscore.playerName}}</div>
                <div class="player-score flow-text">{{highscore.score}}</div>
                <i v-if="index <= 2" :class="iconClass(index)">star</i>
            </li>
        </ul>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue'
import { IHighscore, IHighscoreList } from '../store/state';

export default Vue.extend({
    name: 'leaderboard',
    props: {
        gameId: Number
    },
    methods: {
        iconClass(index: any) {
            if(index == 0)
            {
                return "material-icons first-place";
            }
            if(index == 1)
            {
                return "material-icons second-place";
            }
            if(index == 2)
            {
                return "material-icons third-place";
            }
        },
    },
    computed: {
        game() {
            return this.$store.getters.games.find((game:any) => {
                return game.id == this.gameId;
            })
        },
        highscores() {
            var scores = this.$store.getters.highscores;
            console.log(scores);
            if(scores)
            {
                var gamescores = scores.filter((scores:IHighscoreList) => {
                    console.log("filtering");
                    console.log(scores.key);
                    console.log(this.gameId);
                    console.log(scores.key == this.gameId.toString());
                    return scores.key == this.gameId.toString();
                })

                if(gamescores[0])
                {
                    return gamescores[0].highscores;
                }
            }

        }
    }
})
</script>

<style lang="scss">
    .return-btn {
        height:50px;
        font-size:28px;   
    }

    .player-name, .player-score {
        width:45%;
        text-align: left;
    }

    .leaderboard-image {
        height:100%;
        width:100%;
        position:absolute;
        z-index: -1;
        top:0px;
        img {
            width:100%;
            height:100%;
        }
    }

    .leaderboard-header {
        width:90%;
        margin:auto;
        margin-top:20px;
        padding:25px;
    }

    .leaderboard-overlay {
        width: 90%;
        height: 90%;
        overflow-y: auto;
        margin: auto;
        margin-top: 50px;
        background: rgba(50,50,50,0.8);
        padding: 25px;
        border-radius: 15px;

        h3 {
            color:white;
        }
    }

    .leaderboard-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        i {
            width:10%;
            text-align: right;
        }
    }

    .first-place {
        color: gold;
    }

    .second-place {
        color: silver;
    }

    .third-place {
        color: #cd7f32;
    }
</style>