<template>
<div class="save-form-wrapper">
    <div class="row score-btn">
      <button data-target="newScore" class="waves-effect waves-light btn-large modal-trigger">Add new score!</button>
      <button v-if="gameSelected > 0" class="waves-effect waves-light btn-large" @click="returnToStart">Back to games</button>
    </div>

    <div id="newScore" class="modal">
        <div class="modal-content">
          <h4>Add your score below!</h4>
          <form class="col s12" @submit.prevent="onSaveScore">
            <div class="input-field col s12">
              <select class="browser-default" id="game_id_input">
                <option value="" disabled selected>Choose game</option>
                <option v-for="(game, index) in games" :key="'game-select-'+index" :value="game.id">{{ game.name }}</option>
              </select>
            </div>
            <div class="input-field col s12">
              <input id="player_name_input" type="text" class="validate">
              <label for="player_name_input">Your name</label>
            </div>
            <div class="input-field col s12">
              <input id="score_input" type="text" class="validate">
              <label for="score_input">Score</label>
            </div>
            <button class="btn waves-effect waves-light modal-close" type="submit" name="action">Submit score</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
</div>

</template>

<script lang="ts">
import Vue from 'vue'
import * as server from "../api";

export default Vue.extend({
    name:'save-score-form',
    computed: {
        games() { return this.$store.getters.games },
        gameSelected() { return this.$store.getters.gameSelected }
    },
    methods: {
        onSaveScore(data:any) {
            var gameId = data.target.elements.game_id_input.value;
            var playerName = data.target.elements.player_name_input.value;
            var score = data.target.elements.score_input.value;

            if(gameId > 0)
            {
                server.saveScore(parseInt(gameId), playerName, parseInt(score));        
            }
        },
        returnToStart() {
            this.$store.dispatch('selectGame', -1);
        }
    }
})
</script>

<style lang="scss">
    .score-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin-right:25px;
        }
    }
</style>