<template>
  <div id="app">
    <nav style="background-color:#49715F">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Save your HighScore</a>
      </div>
    </nav>
    <save-score-form />
    <div v-if="gameSelected <= 0" class="row">
      <template v-for="game in games">
        <card :game="game" :key="game.id" v-on:game-selected="selectGame"/>      
      </template>
    </div>
    <div v-if="gameSelected > 0">
      <leaderboard :gameId="gameSelected" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Card from "./components/Card.vue";
import Leaderboard from "./components/Leaderboard.vue";
import SaveScoreForm from "./components/SaveScoreForm.vue";
import * as server from "./api";
import { IGame } from './store/state';

export default Vue.extend({
  name: "app",
  components: {
    Card,
    Leaderboard,
    SaveScoreForm
  },
  computed: {
    games() { return this.$store.getters.games },
    highscores() { return this.$store.getters.highscores },
    gameSelected() { return this.$store.getters.gameSelected }
  },
  methods: {
    onServerConnected(connection: any)
    {
      if(connection)
      {
        connection.invoke('GetGames');
        connection.on("ScoreSaved", (data: any) => this.onScoreSaved(data));
        connection.on("ReceivedGames", (data: any) => this.onReceivedGames(data));
        connection.on("ReceivedScores", (data: any) => this.onReceivedScores(data));
      }
    },
    onScoreSaved(data: any) {
      console.log("score saved");
      console.log(data);
      this.$store.dispatch('addScore', data);
    },
    onReceivedGames(data: any) {
      console.log("games");
      console.log(data);
      data.forEach((game: IGame) => {
          server.getScores(game.id);
      });
      this.$store.dispatch('getGames', data);
    },
    onReceivedScores(data: any) {
      this.$store.dispatch('loadScores', data);
    },
    selectGame(game:any) {
      console.log(game);
      this.$store.dispatch('selectGame', game.id);
    }
  },
  mounted() {
    var connection;

    server
      .start()
      .then(connection => {
        console.log(connection);
        this.onServerConnected(connection);
      })
      .catch(rejected => {
        console.log("Error starting", rejected);
        setTimeout(() => server.start().then(connection => this.onServerConnected(connection)), 2000);
      });

    
  }
});
</script>

<style lang="scss">
body {
  background-color: #FBFBFB;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.score-btn {
  margin-top:20px;
}
</style>
